/* ====== Fontes ====== */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@100;300;400;600&display=swap');

/* ====== Base ==== */
* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 200vh;
}
/* ==== HEADER ====== */
header {
  position: absolute;
  width: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  height: 70px;
  padding-top: 20px;
  z-index: 999;
}

.logo {
  color: #fff;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.options {
  display: flex;
  align-self: center;
}

.options a {
  text-decoration: none;
  color: #fff;
  margin-right: 40px;
  font-family: 'Kanit', sans-serif;
}

.options #get-start {
  background-color: #4586FF;
  border-radius: 20px 20px 20px 20px;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3px;
  border: 0px;
}

/* ===== Carrocel ======= */
.carrocel {
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}
.slider {
  margin: 0 auto;
  width: 100%;
  height: 640px;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 640px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
}

.slide img {
  width: 100%;
  object-fit: cover
}

.manual-navigation {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color:#fff;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}

#radio4:checked ~ .first{
  margin-left: -75%;
}

.navigation-auto div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s ease-out;
}

.navigation-auto {
  position: absolute;
  width: 100%;
  margin-top: 600px;
  display: flex;
  justify-content:center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #fff;
}

.first {
  transition: 2s ease-in-out;
}

/* Main Servicos */
#sessao {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 100px;
}

#sessao2 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 55px;
}

#sub-sessao {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
  font-size: 12px;
  color: rgb(83, 81, 81);
  margin-bottom: 80px;
}

.servicos {
  padding: 0 20px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.servico {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height: 200px;
  border: 1px solid #ddd;
  transition: box-shadow 0.5s;
}

.servico:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.274);
  cursor: pointer;
  color: #4586FF;
}

.servico img {
  margin-bottom: 30px;
  width: 60px;
  height: 60px;
}
.servico p {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

/* Recursos */

.recursos {
  margin-top: 100px;
}

.recurso {
  display: flex;
  width: 100%;
  margin-top: 0px;
  overflow: hidden;
}

.recurso .image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recurso .image img {
  width: 80%;
}

.recurso .content {
  width: 50%;
}

.recurso .content h3 {
  margin-top: 80px;
  font-size: 30px;
  color:#4586FF;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.recurso .content p {
  width: 80%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.recurso .content-inverse {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.recurso .content-inverse h3 {
  margin-top: 80px;
  font-size: 30px;
  color:#4586FF;
  margin-bottom: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: end;
}

.recurso .content-inverse p {
  width: 80%;
  text-align: end;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Rodape */
.rodape {
  min-height: 30vh;
  background-color: #4586FF;
  padding: 80px 30px 30px 30px;
  display: flex;
  justify-content:space-around;
  align-items: flex-start;
}
.category p {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 10px;
  color: #fff;
}

.category ul li {
  list-style: none;
  margin: 5px 0;
}

.category ul li a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.category ul li a:hover {
  color: #14014E;
}